#profile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  z-index: 9;
  transition-duration: 0.5s;
  overflow: hidden;

  display: flex;
  justify-self: center;
  align-items: center;
}

.active {
  width: 100vw;
}

.idle {
  width: 0;
}

#profile-content {
  width: 100%;
  min-width: 500px;
  padding: 2em;
  box-sizing: border-box;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 0.5em;
  resize: none;
  outline: none;
  border: 1px solid gray;
  box-sizing: border-box;
}
